@using PagedList.Mvc;
@model PagedList.IPagedList<Das_Des_2.Models.PeliculaTableViewModel.PeliculaTableViewModel>
@{
    ViewBag.Title = "ShowPelicula";
}

<h2>ShowPelicula</h2>

<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col-lg-6 col-sm-12" id="itemmenu">
                @foreach (var oModel in Model)
                {
                    <div class="card mb-6 card-border" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="@oModel.ImgMovie" width="140px" height="320px" class="card-img-top" alt="@oModel.NameMovie">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">@oModel.NameMovie</h4>
                                    <p>@oModel.DescriptionMovie</p>
                                    <h5>@oModel.DirectorMovie</h5>
                                    <h5>@oModel.GeneroMovie</h5>
                                    <div>
                                        @using (Html.BeginForm("AddVote", "Pelicula", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()

                                            @Html.Hidden("Id", oModel.IdMovie.ToString())

                                            @Html.Label("Valorar Película")
                                            <br />
                                            @Html.DropDownList("Vote", null, new { @class = "dropdown" })
                                            <br />
                                            <div>
                                                <input type="submit" class="btn btn-success" value="Votar" />
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<br />

@Html.PagedListPager(Model, page => Url.Action("ShowPelicula", "Pelicula", new { page, PageSize = ViewBag.pageSize }))