@model List<Das_Des_2.Models.UserTableViewModel.UserTableViewModel>
@{
    ViewBag.Title = "ShowUser";
}

<h2>ShowUser</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var oElemento in Model)
        {
        <tr>
            <th scope="row">@oElemento.idUser</th>
            <td>@oElemento.nameUser</td>
            <td>@oElemento.mailUser</td>
            <td><input onclick="document.location.href='@Url.Content("~/User/Edit/"+oElemento.idUser)'" type="button" class="btn btn-primary" value="Editar" />  </td>
            <td><input onclick="funcDelete(@oElemento.idUser)" type="button" class="btn btn-danger" value="Eliminar" /></td>
        </tr>
        }

    </tbody>
</table>

<script>
    function funcDelete(id) {

        if (confirm("Desea eliminar el usuario")) {

            url = "@Url.Content("~/User/Delete/")" + id;

            $.post(url, function (data) {

                if (data == "1") {
                    document.location.href = "@Url.Content("~/User/ShowUser")";
                } else {
                    alert("Error al eliminar usuario");
                }

            });
        };

    };
</script>